<!DOCTYPE html>
<html>
  <head>
    <title>Blocked</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/global.css">
    <script type="module" src="/js/firebase.js"></script>
  </head>
  <body>
    <main>
        <h1>Blocked</h1>
    </main>
  </body>
</html>
