<!DOCTYPE html>
<html>

<head>
  <title>Node.js App</title>
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

  <script type="module" src="config.js"></script>
</head>

<body>
  <main>
    <h1>Welcome to the Node.js Demo App</h1>
    <p>This is the homepage of the Node.js app.</p>
    <p>You can log in or register to access the app.</p>
    <ul>
      <li><a href="/login">Login with Email</a></li>
      <li><a href="/register">Register with Email</a></li>
      </li>
    </ul>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="google_login.js"></script>
    <div id="buttonDiv"></div>
  </main>
  <footer>
    <p>Disclaimer: This app is for demo purposes only.</p>
  </footer>
</body>

</html>