<!DOCTYPE html>
<html>

<head>
  <title>Node.js App</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script type="module" src="/js/firebase.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lcgk2MpAAAAAMxdw1R_ys0iw_dTd3NOL_lDwyCY"></script>
  <script type="text/javascript" src="/js/recaptcha.js"></script>

</head>

<body>
  <main>
    <h1>John's Demo</h1>
    <p>You can log in with email/password or use your Google login to access the app.</p>
    <ul>

      <li>
        <a href="/login">Login with Email</a>
      </li>
      <li>
        <a href="javascript:recaptchaFunction('REGISTER', 'register');">Register with Email</a>
      </li>
      <li>
        <a href="javascript:recaptchaFunction('TESTRECAPTCHA', '');">Create Recaptcha Assessment</a>
      </li>
    </ul>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="module" src="/js/google_login.js"></script>
    <div id="buttonDiv"></div>

  </main>
  <footer>
    <p>Disclaimer: This app is for demo purposes only.</p>
  </footer>
</body>

</html>