<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/global.css">
    <script type="module" src="/js/firebase.js"></script>
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <% if (message) { %>
        <p class="message"><%= message %></p>
      <% } %>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <input type="submit" value="Login" class="button">
      </form>
    </main>
    <footer>
      <p>Disclaimer: This app is for demo purposes only.</p>
    </footer>
  </body>
</html>
