<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/global.css">
  <script type="module" src="/js/firebase.js"></script>
</head>

<body>

  <script type="module">
    import { GoogleAuthProvider, signInWithCredential, getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js'

    window.onload = function () {

      const auth = getAuth();
      const user = auth.currentUser;

      onAuthStateChanged(auth, (user) => {
        if (user) {
          // User is signed in, see docs for a list of available properties
          // https://firebase.google.com/docs/reference/js/firebase.User
          const uid = user.uid;
          console.log("uid", user.uid);
          const email = user.email;
          console.log("email", email);
          const displayName = user.displayName;
          console.log("displayName", displayName);


          document.getElementById('email').innerHTML = email;
          document.getElementById('displayName').innerHTML = displayName;

          // ...
        } else {

          window.location.replace("/");

          // User is signed out
          // ...
        }
      });

    };
  </script>

<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  project-id="vaulted-anthem-403916"
  agent-id="57541925-8658-4fdc-b81d-14ff9e167732"
  language-code="en">
  <df-messenger-chat-bubble
   chat-title="Market Research GenAI Bot">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
</style>


  <h1>Home</h1>

  <div class="menu">
    <p>Welcome, </p>
    <p id="displayName"></p>
    <p id="email"></p>
    <ul>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

</body>

</html>