<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/global.css">
  <script type="module" src="/js/config.js"></script>
</head>

<body>

  <h1>Profile</h1>

  <div class="menu">
    <p>Welcome, </p>
    <p id="displayName"></p>
    <p>Your email address is </p>
    <p id="email"></p>
    <ul>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>



  <script type="module">
    import { GoogleAuthProvider, signInWithCredential, getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js'

    window.onload = function () {



      const auth = getAuth();
      const user = auth.currentUser;

      onAuthStateChanged(auth, (user) => {
        if (user) {
          // User is signed in, see docs for a list of available properties
          // https://firebase.google.com/docs/reference/js/firebase.User
          const uid = user.uid;
          console.log("uid", user.uid);
          const email = user.email;
          console.log("email", email);
          const displayName = user.displayName;
          console.log("displayName", displayName);


          document.getElementById('email').innerHTML = email;
          document.getElementById('displayName').innerHTML = displayName;

          // ...
        } else {
          // User is signed out
          // ...
        }
      });

    };
  </script>


</body>

</html>